# IIC2413 - Control 2

SQL avanzado, diseño de bases de datos e índices.

La entrega es subiendo la solución en este mismo archivo a Canvas. Fecha: Viernes 8 de octubre a las 20:00

## Introduccion

Has sido contratado/a por la famosa empresa de video juegos _Nientiendo_ para trabajar en la implementación del nuevo juego de su exitosa franquicia _Bolsimon_, titulado _Bolsimon Unión_, el cual consiste en combinar los ya queridos monstruos de bolsillo de la franquicia con el popular género de [_Multiplayer online battle arenas_ (MOBA)](https://en.wikipedia.org/wiki/Multiplayer_online_battle_arena). El juego es de carácter casual y será lanzado en Android, iOS y en la consola _Nientiendo Swap_.

Una partida de Bolsimon Unión consiste en dos equipos de 5 jugadores (azul y rojo) que se enfrentan durante 10 minutos con el objetivo de conseguir la mayor cantidad de puntos posible. Las partidas se caracterizan por lo siguiente:

* Cada jugador elige un bolsimon de los que tenga disponibles en su _pool_ de bolsimones. Un bolsimon no puede estar dos veces en una misma partida.
* A lo largo de la partida los jugadores deben dejar fuera de combate (KO) a los bolsimones oponentes para avanzar hacia su base y así poder obtener puntos (_score_).
* Cuando más de un jugador participa en dejar KO a un oponente, aquellos que no dieron el último golpe reciben una asistencia.
* Un bolsimon KO vuelve a la partida luego de unos segundos.
* El equipo ganador es aquel que logró obtener más puntos luego de 10 minutos de partida.
* Para las estadísticas el juego guarda el detalle de cada KO y cada _score_.

Como el nuevo ingeniero estrella del proyecto se te dejó a cargo de escribir algunas consultas para la base de datos PostgreSQL del servidor de Bolsimon Unión y de  mejorar el diseño de la base de datos para soportar nuevas funcionalidades en el juego. Evidentemente debes implementar aquellas mejoras en el _DBMS_ tu mismo.

## I. Consultas SQL (16 pts)

El esquema actual de la base de datos es el siguiente:

* `usuario(id int, email varchar(100), username varchar(100), rating int)`
* `bolsimon(id int, nombre varchar(30), tipo varchar(30))`
* `partida(id int, fecha_inicio date, estado varchar)`
* `usuario_partida_bolsimon(id int, id_jugador int, id_bolsimon int, id_partida int , equipo varchar(5))`
* `ko(id int, id_jugador int, id_victima int, id_partida int, timestamp float, segundos_reaparecer int)`
* `asistencia(id int, id_jugador int, id_ko int)`
* `score(id int, id_partida int, id_jugador int, puntaje int, timestamp float)`

Ejecuta las siguientes celda para descargar la base de datos a tu máquina en Colab y montarla en Postgres:

In [1]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start 
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!pip install gdown
!gdown https://drive.google.com/u/1/uc?id=1RqaKncDfYYfPMYckbM9Ui4YSkM_FsB1O
!sudo -u postgres psql -c "CREATE SCHEMA postgres"
!psql postgres < /content/database.sql

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,434 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,400 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [633 kB]
Get:19 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [801 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,213 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,837 kB]
Fetched 10.6 MB in 3s (3,412 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
39 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Downloading...
From: https://drive.google.com/u/1/uc?id=1RqaKncDfYYfPMYckbM9Ui4YSkM_FsB1O
To: /content/database.sql
100% 65.5M/65.5M [00:00<00:00, 103MB/s]
CREATE SCHEMA
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
ERROR:  unrecognized configuration parameter "default_table_access_method"
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 790916
COPY 50
COPY 791355
COPY 20000
COPY 289942
COPY 2000
COPY 200000
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX

In [2]:
%%sql
ALTER TABLE usuario ADD PRIMARY KEY (id);
ALTER TABLE bolsimon ADD PRIMARY KEY (id);
ALTER TABLE partida ADD PRIMARY KEY (id);
ALTER TABLE usuario_partida_bolsimon ADD PRIMARY KEY (id);
ALTER TABLE ko ADD PRIMARY KEY (id);
ALTER TABLE asistencia ADD PRIMARY KEY (id);
ALTER TABLE score ADD PRIMARY KEY (id);

 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Si la siguiente consulta funciona bien entonces estas listo para empezar.

In [3]:
%%sql
SELECT * FROM bolsimon LIMIT 20;

 * postgresql+psycopg2://@/postgres

    id     nombre      tipo
0    0   Venosoor     grass
1    1  Churizurd      fire
2    2  Blustoise     water
3    3    Pikecho  electric
4    4     Miwtwa   psychic
5    5        Maw   psychic
6    6    Metipod       bug
7    7     Wiidli       bug
8    8     Pidgoy    normal
9    9    Pidguot    normal
10  10    Rettete    normal
11  11    Spiuruw    normal
12  12  Sundshriw    ground
13  13   Nidorine    poison
14  14  Nidoquaan    poison
15  15    Nidoren    poison
16  16    Venonit       bug
17  17    Psydack     water
18  18    Galduck     water
19  19     Munkuy  fighting

Escribe las siguientes consultas necesarias para el funcionamiento de Bolsimon Unión:

Pro Tips:
* La sentencia [`LIMIT`](https://www.postgresql.org/docs/8.1/queries-limit.html) 
que limita los resultados de una consulta puede ser necesaria.
* Algunas de las consultas pueden ser complejas por lo que la sentencia [`WITH`](https://www.postgresql.org/docs/8.1/queries-limit.html) que permite "renombrar" una consulta, podría ser útil para mejorar la legibilidad de tus consultas y disminuir la duplicacion.
* Para transformar valores nulos a algún valor que nos interese, se puede usar `COALESCE(<valor potencialmente nulo>, <otro valor>)`, por ejemplo, `SELECT COALESCE(age, 50)` para considerar que todos quienes no tengan edad especificada se asuman de 50 años.

1. Para el usuario de email `elizabeth@cooper.net` encontrar la cantidad total de KOs, Asistencias y puntaje obtenidos en todas sus partidas.

In [ ]:
%%sql
WITH elizabeth_id AS (
  SELECT usuario.id AS id
  FROM usuario
  WHERE usuario.email = 'elizabeth@cooper.net'
)
SELECT ko.ko_count, asistencia.assist_count ,score.score_count
FROM
  (SELECT COUNT(*) AS ko_count
   FROM ko, elizabeth_id
   WHERE ko.id_jugador = elizabeth_id.id
  ) AS ko,
  (SELECT SUM(score.puntaje) AS score_count
   FROM score, elizabeth_id
   WHERE score.id_jugador = elizabeth_id.id
  ) AS score,
  (SELECT COUNT(*) AS assist_count
   FROM asistencia, elizabeth_id
   WHERE asistencia.id_jugador = elizabeth_id.id
  ) AS asistencia

 * postgresql+psycopg2://@/postgres

   ko_count  assist_count score_count
0       402           422        6369

2. Una consulta que entregue el equipo ganador de la partida de id `12345`

In [ ]:
%%sql
SELECT upb.equipo
FROM partida
JOIN usuario_partida_bolsimon AS upb ON upb.id_partida = partida.id
JOIN score on score.id_partida = partida.id AND score.id_jugador = upb.id_jugador
WHERE partida.id = 12345
GROUP BY upb.equipo
ORDER BY SUM(score.puntaje) DESC
LIMIT 1

 * postgresql+psycopg2://@/postgres

  equipo
0   rojo

3. Encontrar los usernames  y ratings de los 5 usuarios que han usado el  Bolsimon  `Pikecho` en más partidas.

In [ ]:
%%sql
SELECT usuario.username, usuario.rating, COUNT(upb.id)
FROM usuario
JOIN usuario_partida_bolsimon AS upb ON upb.id_jugador = usuario.id
JOIN bolsimon ON upb.id_bolsimon = bolsimon.id
WHERE bolsimon.nombre = 'Pikecho'
GROUP BY usuario.id
ORDER BY  COUNT(upb.id) DESC
LIMIT 6

 * postgresql+psycopg2://@/postgres

          username  rating  count
0     Mx.Vanessa44    2278     10
1       Mx.Diane78    1901      7
2      Dr.Angela61     859      7
3    Dr.Kathleen82    1270      7
4  Misc.Jennifer20    1522      7
5      Ind.Caleb60    1699      7

4. Para la partida de id `256` mostrar el tiempo en segundos que cada bolsimon pasó fuera de combate.

In [ ]:
%%sql
SELECT bolsimon.nombre, SUM(ko.segundos_reaparecer)
FROM partida
JOIN usuario_partida_bolsimon AS upb ON upb.id_partida = partida.id
JOIN bolsimon ON bolsimon.id = upb.id_bolsimon
LEFT JOIN ko on ko.id_partida = partida.id AND ko.id_victima = upb.id_jugador
WHERE partida.id = 256
GROUP BY bolsimon.id

 * postgresql+psycopg2://@/postgres

       nombre   sum
0   Churizurd   106
1      Wiidli   103
2      Pidgoy   288
3     Rettete    41
4    Nidorine    60
5     Psydack  None
6     Galduck   184
7  Wuupanbull    76
8    Slowpoku   112
9      Storyu   161

5. Los ids de la pareja de jugadores que más asistencias se hayan hecho mutuamente. (Es decir si `A` asistió a `B` 5 veces y `B` a `A` 3 veces el total es 8)

In [ ]:
%%sql
WITH pair_assist_counts AS(
  SELECT ko.id_jugador AS koer, asistencia.id_jugador AS assister, COUNT(*)
  FROM ko JOIN asistencia on ko.id = asistencia.id_ko
  GROUP BY koer, assister
)
SELECT p1.koer, p1.assister, (p1.count + p2.count) AS total_count
FROM pair_assist_counts AS p1, pair_assist_counts AS p2
WHERE p1.koer = p2.assister AND p1.assister = p2.koer
ORDER BY total_count DESC
LIMIT 1

 * postgresql+psycopg2://@/postgres

   koer  assister  total_count
0   672      1950           17

6. Encontrar el username del usuario que jugó más partidas en un día. Tip: Con la sentencia `date_trunc('day', <fecha>)` se puede extraer el día a partir de una fecha completa.

In [ ]:
%%sql
SELECT usuario.username, usuario.id 
FROM
  (SELECT usuario.id AS id, usuario.username AS username, COUNT(partida.id) AS cuenta
  FROM usuario
  JOIN usuario_partida_bolsimon AS upb ON upb.id_jugador = usuario.id
  JOIN partida ON upb.id_partida = partida.id
  GROUP BY usuario.id, date_trunc('day', partida.fecha_inicio)) AS agg
JOIN usuario ON usuario.id=agg.id
GROUP BY usuario.id
ORDER BY MAX(agg.cuenta) DESC
LIMIT 1

 * postgresql+psycopg2://@/postgres

     username   id
0  Dr.Cindy89  418

7. Encontrar el Bolsimon, equipo, la cantidad KOs realizados y puntos totales de cada jugador de la partida de ID `32`. Los jugadores del equipo ganador deben aparecer primero y los jugadores de cada equipo deben ir ordenados por puntos totales y KOs realizados de manera descendente.

In [4]:
%%sql

with winning_team AS (
  SELECT upb.equipo
  FROM usuario_partida_bolsimon AS upb
  JOIN score on score.id_partida = upb.id_partida AND score.id_jugador = upb.id_jugador
  WHERE upb.id_partida = 32
  GROUP BY upb.equipo
  ORDER BY SUM(score.puntaje) DESC
  LIMIT 1
), kos AS (
  SELECT ko.id_jugador AS id_jugador, COUNT(*) AS ko_count
  FROM ko JOIN usuario_partida_bolsimon AS upb ON upb.id_jugador = ko.id_jugador
  AND upb.id_partida = ko.id_partida
  WHERE upb.id_partida=32
  GROUP BY ko.id_jugador
), scores AS (
  SELECT score.id_jugador AS id_jugador, SUM(score.puntaje) AS score_count
  FROM score JOIN usuario_partida_bolsimon AS upb ON upb.id_jugador = score.id_jugador
  AND upb.id_partida = score.id_partida
  WHERE upb.id_partida=32
  GROUP BY score.id_jugador
)

SELECT upb.equipo, bolsimon.nombre, COALESCE(kos.ko_count, 0) AS kos, COALESCE(scores.score_count, 0) AS total_score, upb.id_jugador
FROM winning_team, usuario_partida_bolsimon AS upb
JOIN bolsimon ON bolsimon.id = upb.id_bolsimon
LEFT JOIN kos on kos.id_jugador = upb.id_jugador
LEFT JOIN scores on scores.id_jugador = upb.id_jugador
WHERE upb.id_partida = 32
ORDER BY upb.equipo = winning_team.equipo DESC, total_score DESC, kos DESC

 * postgresql+psycopg2://@/postgres

  equipo     nombre  kos total_score  id_jugador
0   azul   Nidorine    6         171        1716
1   azul        Mik    5         108        1224
2   azul  Nidoquaan    6          90        1026
3   azul     Penser    5          43        1317
4   azul    Jultaun    2           0         783
5   rojo    Kinglor    6          96        1717
6   rojo     Gengir    2          27        1179
7   rojo  Exaggutir    5          17         671
8   rojo    Scythir    4           3        1571
9   rojo    Pidguot    8           0        1082

8. Encontrar el nombre del Bolsimon de mejor y peor winrate (% de victorias).Muestre los winrates de cada uno (basta con mostrar 2 filas en que una corresponde al mejor y otra al peor).

**Protips**:
- Para contar la cantidad de `true` en una columna (o agregación) hay que castear los booleanos a entero (`1` o `0`) y despues sumar, algo así:
`SUM(CAST(<expresion o columna booleana> AS INTEGER)`.
- Para hacer división con decimales en postgres es necesario que al menos uno de los dos términos sea de tipo `FLOAT`, es decir podemos hacer `SELECT CAST(1 AS FLOAT) / 2` y eso da `0.5`.

In [ ]:
%%sql
with team_scores AS (
  SELECT upb.id_partida, upb.equipo, SUM(score.puntaje) AS puntaje
  FROM usuario_partida_bolsimon AS upb
  JOIN score on score.id_partida = upb.id_partida AND score.id_jugador = upb.id_jugador
  GROUP BY upb.id_partida, upb.equipo
), 
winning_teams AS (
  SELECT team_scores.id_partida, team_scores.equipo
  FROM team_scores JOIN (
    SELECT t2.id_partida, MAX(t2.puntaje) AS puntaje
    FROM team_scores AS t2
    GROUP BY t2.id_partida
  ) AS t_max ON t_max.id_partida = team_scores.id_partida
  AND t_max.puntaje = team_scores.puntaje
)
(SELECT bolsimon.nombre, SUM(CAST(upb.equipo = winning_teams.equipo AS INTEGER)::FLOAT) / COUNT(*) * 100 AS win_rate
FROM usuario_partida_bolsimon AS upb
JOIN bolsimon ON bolsimon.id = upb.id_bolsimon
JOIN winning_teams ON winning_teams.id_partida = upb.id_partida
GROUP BY bolsimon.id, bolsimon.nombre
ORDER BY win_rate DESC
LIMIT 1)
UNION
(SELECT bolsimon.nombre, SUM(CAST(upb.equipo = winning_teams.equipo AS INTEGER)::FLOAT) / COUNT(*) * 100 AS win_rate
FROM usuario_partida_bolsimon AS upb
JOIN bolsimon ON bolsimon.id = upb.id_bolsimon
JOIN winning_teams ON winning_teams.id_partida = upb.id_partida
GROUP BY bolsimon.id,  bolsimon.nombre
ORDER BY win_rate ASC
LIMIT 1)

 * postgresql+psycopg2://@/postgres

    nombre   win_rate
0   Seodro  48.257709
1  Spiuruw  51.577132

## II. Aumentar el diseño de la base de datos. (8 pts)

Evidentemente el esquema actual no soporta todas las funcionalidades necesarias para que el juego se convierta en el éxito que el mercado espera. La funcionalidad más importante que se debe implementar ahora es que cada bolsimon pueda tener sus propios ataques (ej: _el impactrueno_).

Los ataques tienen nombre y nivel (básico, intermedio y avanzado).

Cada bolsimon tiene 3 pares de ataques (1 par de cada nivel.). Dentro de una partida un jugador debe elegir un ataque de cada par. Notar que los ataques no son necesariamente únicos de un solo Bolsimon.

1. Agrega al esquema anterior las tablas  y restricciones de integridad que creas necesarias para modelar la nueva funcionalidad. Escribe y ejecuta las sentencias SQL necesarias para implementar tu esquema en la base de datos.

2. Justifica que tu esquema está bien diseñado.

*Pauta*: En primer lugar se requiere una tabla de `ataque(id, nombre, nivel)` y `ataque_bolsimon(id, id_bolsimon, id_ataque)` en que las dos últimas columnas son llave foránea.

Queda soportar el comportamiento de la elección de ataques por partida. En términos de dependencias podemos decir que la llave primaria (`id`) de `usuario_partida_bolsimon` determina los ids de ataques elegidos por ese jugador en esa partida. Por lo tanto la forma teóricamente correcta es agregar 3 columnas a `usuario_partida_bolsimon` con los ids de los ataques básico, intermedio y avanzado respectivamente. Las 3 columnas deben ser llaves foráneas de la tabla `Ataque`.

Aplicar esta solución en la practica puede ser problemático ya que la tabla ya tiene filas y las columnas quedarían con nulos que no se pueden llenar retroactivamente.
Una opción alternativa es crear una tabla nueva `upb_ataques(id, id_upb, id_basico, id_intermedio, id_avanzado)`, en que `id_upb` es llave foránea de `usuario_partida_bolsimon` y las siguientes  tres son de `ataque`.

Puntajes:
* 4 puntos por dar un esquema correcto.
* 2 puntos por comentar una justificación teórica correcta (demostrar conocimiento de dependencias y bcnf o 3nf).
* 2 puntos por implementar correctamente en SQL con llaves primarias y foráneas donde corresponden.

In [ ]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

## III. Índices (5 pts)

Se espera que Bolsimon Unión reciba un alto flujo de jugadores y por lo tanto habran millones de tuplas en las tablas de la base de datos. Como ingeniero encargado de la DB es tu responsabilidad que esta funcione correctamente aunque las tablas esten altamente pobladas. Sugiere al menos 5 índices que creas sean los más necesarios y justifica por qué. Además escribe y ejecuta las sentencias SQL necesarias para modificar la base de datos.

*Pauta*: Son índices importantes los siguientes:
1. Indexar `username` o `email`. Ya que alguna de esas es necesaria para el login y search de los usuarios.

2. Cualquier columna de llave foránea.

3. Cualquier otra columna que el alumno argumente bien que podría recibir muchos filtros/consultas.

Cualquier indice sugerido en la tabla de bolsimones o ataques es incorrecto puesto que estas tablas no crecen con el número de usuarios y por lo tanto no ameritan indexación.

1 punto por cada índice correcto (incluyendo el SQL).
Descontar un punto si no está alguna de `1.` o `2.`.

In [ ]:
%%sql