#Guía 5: Índices

Se cuenta con varias tablas que son instancias del siguiente esquema abstracto:

* $\color{green}{\textbf{pelicula}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\underline{\text{anho}}}, \color{blue}{\text{calificacion}}, \color{blue}{\text{votos}})$ 
* $\color{green}{\textbf{actor}}(\color{blue}{\underline{\text{nombre}}}, \color{blue}{\text{genero}})$
* $\color{green}{\textbf{personaje}}(\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\underline{\text{a_nombre}}}, \color{blue}{\text{personaje}})$
* $\color{green}{\textbf{eval}}(\color{blue}{\underline{\text{usuario}}}, 
\color{blue}{\underline{\text{p_nombre}}}, \color{blue}{\underline{\text{p_anho}}},  \color{blue}{\text{opinion}},  \color{blue}{\text{eval}})$



Para iniciar el servidor virtual, instalar la base de datos postgres, y descargar los datos e importarlos, debe correr el siguiente bloque:

In [ ]:
# install
!apt update
!apt install postgresql postgresql-contrib &>log
!service postgresql start
!sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER"
# set connection
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql postgresql+psycopg2://@/postgres
!pip install gdown
!gdown https://drive.google.com/uc?id=1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk
!sudo -u postgres psql -c "CREATE SCHEMA guia"
!psql postgres < /content/guia2.sql
!sudo -u postgres psql -c "CREATE table guia.eval(usuario character varying(255) NOT NULL, p_nombre character varying(255) NOT NULL, p_anho smallint not null, opinion text not null, eval integer not null, PRIMARY KEY (usuario, p_nombre, p_anho));"
!sudo -u postgres psql -c "ALTER TABLE ONLY guia.eval \
    ADD CONSTRAINT eval_fkey FOREIGN KEY (p_nombre, p_anho) REFERENCES guia.pelicula(nombre, anho);"
%sql set search_path to guia;

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [607 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,367 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,431 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [640 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,210 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,803 kB]
Fetched 10.3 MB in 3s (3,151 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
37 packages can be upgraded. Run 'apt list --upgradable' to see them.
 * Starting PostgreSQL 10 database server
   ...done.
CREATE ROLE

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (3.6.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.62.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gdown) (1.24.3)
Downloading...
From: https://drive.google.com/uc?id=1g7UsolqIt5CatIUiWKQNiQ4sT6zsCZnk
To: /content/guia2.sql
100% 1.22M/1.22M [00:00<00:00, 5.70MB/s]
CREATE SCHEMA
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ERROR:  schema "guia" already exists
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 14676
COPY 250
COPY 17229
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
GRANT
GRANT
GRANT
GRANT
ALTER DEFAULT PRIVILEGES
ALTER DEFAULT PRIVILEGES
CREATE TABLE
ALTER TABLE
 * postgresql+psycopg2://@/postgres

Empty DataFrame
Columns: []
Index: []

Ejecute la siguiente consulta para probar que todo ande bien:

In [ ]:
%sql SELECT * FROM pelicula;

 * postgresql+psycopg2://@/postgres

                                nombre  anho  calificacion
0             The Shawshank Redemption  1994           9.2
1                        The Godfather  1972           9.2
2               The Godfather: Part II  1974           9.0
3                      The Dark Knight  2008           8.9
4                         12 Angry Men  1957           8.9
..                                 ...   ...           ...
245                  The King's Speech  2010           8.0
246                       The Avengers  2012           8.0
247  Lagaan: Once Upon a Time in India  2001           8.0
248               Beauty and the Beast  1991           8.0
249                        Kumonosu-jô  1957           8.0

[250 rows x 3 columns]

Para ejecutar consultas multi-lineas use el tag %%sql:

In [ ]:
%%sql
SELECT * FROM actor;

 * postgresql+psycopg2://@/postgres

                nombre genero
0        Aames, Angela      F
1       Aames, Marlene      F
2         Abad, Regina      F
3      Abbott, Diahnne      F
4      Abbott, Dorothy      F
...                ...    ...
14671      Ôtomo, Shin      M
14672     Ôtsuka, Akio      M
14673    Ôtsuka, Hideo      M
14674    Ôtsuka, Hôchû      M
14675    Öncel, Gökhan      M

[14676 rows x 2 columns]

Ahora, debe diseñar las consultas que resuelvan las siguientes preguntas usando los operadores vistos en clases.

# Vistas y Disparadores

## Pregunta 1
En esta pregunta se desea obtener (sin pares reflexivos $[a,a]$ y sin repeticiones simétricas, es decir, si aparece $[a, b]$ no debe aparecer $[b, a]$) todas las parejas de coactores/coactrices de la base de datos que han aparecido juntos en al menos una película y la cantidad de películas en que han participado juntos. Para esto:

1. Escriba una consulta en SQL que obtenga lo pedido; obtenga el tiempo de ejecución.

2. Cree una vista que sirva para obtener lo pedido (la vista debe tener un nombre único en el esquema; la vista no puede tener dos columnas con el mismo nombre pero se puede usar $\texttt{AS}$ en la consulta para cambiar los nombres) y luego ejecute la consulta:
$\texttt{SELECT * FROM vista}$
sobre ella, obteniendo el tiempo de ejecución.

3. Cree una vista materializada que obtenga lo pedido y ejecute la consulta $\texttt{SELECT * FROM vista_materializada}$
sobre ella, obteniendo el tiempo de ejecución.

## Pregunta 2
En esta pregunta, se desea obtener todos los coactores/coactrices de "$\texttt{Pesci, Joe}$" ordenados de mayor a menor cantidad de películas en que aparezcan juntos. Para esto:

1. Escriba una consulta en SQL que obtenga la respuesta directamente de las tablas bases y registre el tiempo de ejecución.

2. Escribe una consulta que obtenga los mismos resultados que la P21 pero esta vez usando (solo) la vista creada en la P12; registre el tiempo de ejecución.

3. Escribe una consulta que obtenga los mismos resultados que la P2.1 pero esta vez usando (solo) la vista materializada creada en la P1.3; registre el tiempo de ejecución. ¿Es este tiempo mejor que el obtenido con las otras alternativas? Cree los índices que crea necesarios en la vista materializada para mejorar el tiempo de ejecución y registre el tiempo de ejecución con los índices nuevos.

# Pregunta 3
En esta pregunta, usted debe agregar evaluaciones en la tabla $\texttt{eval}$: los atributos $\texttt{p_nombre}$ y $\texttt{p_anho}$ se refieren a la llave de la película a evaluar, $\texttt{usuario}$ es el nombre del usuario que hace la evaluación y $\texttt{eval}$ la calificación (entre 0 y 10). Se le pide que:

1.   Agregue dos evaluaciones a dos películas distintas de su elección.

2. Cree una vista virtual de todas las evaluaciones que se han hecho en las mismas películas que evaluó usted usando el campo $\texttt{usuario}$. Debe proyectar todos los atributos de la tabla $\texttt{eval}$. Cree la vista materializada equivalente.

3. Agregue dos evaluaciones nuevas en otras dos películas.

4. Consulte por las evaluaciones tanto en la vista virtual como en la materializada ¿Son iguales? ¿Por qué?

5. Refresque la vista materializada y vuelva a ejecutar las consultas ¿Son iguales? ¿Por qué?

6. Cree un disparador y su correspondiente *stored procedure* para refrescar su vista materializada *solo* cuando haya una actualización o inserción *relevante* para la vista en la tabla $\texttt{eval}$, es decir, una actualización o inserción que involucre las evaluaciones de usted o las evaluaciones de las mismas películas hechas por otros usuarios. 

Hint:
Puede usar el la syntaxis $\texttt{IF EXISTS ... THEN .... END IF}$ para chequear si una consulta devuelve al menos 1 tupla. Por ejemplo
```
...
BEGIN
   IF EXISTS (SELECT FROM orders) 
   THEN
      DELETE FROM orders;
   ELSE
      INSERT INTO orders VALUES (1,2,3);
   END IF;
   ...
END
...
```
Si existen tuplas en una tabla $\texttt{orders}$, entonces elimina todas las tuplas; en caso contrario, inserta una nueva.

7. Agregue una evaluación nueva hecha por usted y otra por otro usuario y verifique que su disparador y store procedure funcionan correctamente sobre la vista materializada.